<nav class="navbar">
  <div class="logo"><a routerLink="/">User-Management</a></div>
  <ul class="nav-links">
    <div class="menu">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/">About</a></li>
      <li class="services">
        <a routerLink="/">Services</a>
        <ul class="dropdown">
          <li><a routerLink="/">Dropdown 1 </a></li>
          <li><a routerLink="/">Dropdown 2</a></li>
        </ul>
      </li>
      <li><a routerLink="/">Pricing</a></li>
      <li><a routerLink="/">Contact</a></li>
    </div>
  </ul>
</nav>
